/* body {
    font-family: Roboto, Helvetica, sans-serif;
}

h1 {
     
    font-size: 16px;
    color: black;
}
.container {
    text-align: center;
    margin: 5px;
    font-size: 13px;

} */




/* .offer {
    display: inline-block;
    position: absolute;
    width: 400px;
    margin: 8px;
    text-align: center;
    border: 1px solid greenyellow;
    left: 50%;
    grid-area: article;
} */

/* 
footer {

    position: absolute;
    background-color: rgb(242, 132, 130);
    grid-area: footer;
    font-size: small;
    font-family: "Arial";
    grid-row:100;
    height:100px;
    width: 1000px;
    bottom:0px;
}


 
.offer-title {
    font-size: 14px;
    font-weight: bold;
    color: green;
    background-color: #fffad7;
    margin: 0;
    padding: 15px;
}
.offer-contents {
    padding: 20px;
    background-color: pink;
} */




.resourcesContainer{
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-areas: 
    "header"
    "info";

    margin-top: 150px;
    margin-bottom: 200px;
}

.resources-offer-title {
    grid-area: header;
    text-align: center;
    font-size: 30px;
}


table {
    grid-area: info;
    width: 90vw;
    background-color: #f5cac3; /*#c5bab8; */
    border-spacing: 0;
    border-radius: 20px;
    }


th {
    
    font-size: 19px;
    font-weight: bold;
    color: #777777;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
td {
    
    font-weight:lighter;
    color: black;
    padding: 30px 10px;
    text-align: center;
    border-bottom: 1px solid midnightblue;
    border-left: 1px solid black;
    /* background-color:#c5bab8; */

}





















/* code from friday.//// */

/* .resourcesArticle {
    margin-bottom: 20px;
    margin-left: 38px;
    width: 100vw;
    justify-content: center;
    height: 100vh;
}

.resourcesArticle div h1{
    margin-top: 150px;
    font-size: 60px;
}


.resourcesContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 50px;
    margin-bottom: 80px;


} 


html, body {
    width: 100%;
    overflow-x: hidden;
    margin-left: -40px;
    margin-top: -40px;
    font-family: "Manrope", sans-serif;
}
 */


/* html, body {
    width: 100%;
    overflow-x: hidden;
    margin-left: -40px;
    margin-top: -40px;
    font-family: "Manrope", sans-serif;
}

body {
    font-family: Manrope;
    background-color: rgb(247, 237, 226);
    /*margin-bottom: 0px;
    margin-left: 20px;
    margin-top: 115px;*/
   /*  min-width: 100vw;
    height: 80vh;
    justify-content: center; */ /*vertical centering*/
/* }

.resourcesContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 50px;
    margin-bottom: 80px;


} */
 
/*
.container {
    display: flex;
    position: absolute;
    justify-content: space-between;
    text-align: center;
    margin: 5px;
    font-size: 13px;
    font-family: "Monaco", sans-serif;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    height: 100vh;
}

.resourcesOffer {
    display: block;
    position: relative;
    width: 900px;
    margin: 10px auto;
    text-align: center;
    border: 3px solid red;
    grid-area: article;
}

.resources-offer-title {
    
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: #fffad7;
    margin: 0;
    padding: 15px;
}

.resources-offer-contents {
    padding: 20px;
    background-color: pink;
}

table {
    width: 800px;

    width: 100%;
    background-color: #c5bab8;
    border-spacing: 0;
}

th, td {
    width: 800px;

    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}*/

