.resourcesContainer{
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-areas: 
    "header"
    "info";

    margin-top: 150px;
    margin-bottom: 200px;
}

.resources-offer-title {
    grid-area: header;
    text-align: center;
    font-size: 30px;
}


table {
    grid-area: info;
    width: 90vw;
    background-color: #f5cac3;
    border-spacing: 0;
    border-radius: 20px;
    }


th {
    
    font-size: 19px;
    font-weight: bold;
    color: #777777;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}
td {
    
    font-weight:lighter;
    color: black;
    padding: 30px 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

}

.resources-offer-title {
    grid-area: header;
    text-align: center;
    font-size: 30px;
}


table {
    grid-area: info;
    width: 90vw;
    background-color: #f5cac3;
    border-spacing: 0;
    border-radius: 20px;
    }


th {
    
    font-size: 19px;
    font-weight: bold;
    color: #777777;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}
td {
    
    font-weight:lighter;
    color: black;
    padding: 30px 10px;
    text-align: center;
    border-bottom: 1px solid black;
}
