@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/*NAV BAR CSS*/
nav {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
    grid-area: nav;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 99vw;
    display: grid;
    grid-template-areas: 
    "sblogo container buttons accountimg";
}

.sblogo {
    width: 120px;
    display: flex;
    justify-content: space-between;
    grid-area: sblogo;
}

.container {
    display: flex;
    justify-content: space-between;
    font-family:"Manrope";
    font-size: small;
    grid-area: container;
    left: 150px;
    position: fixed;
}

.container .box {
    position: relative;
    margin: 15px;
    padding-top: 5px;
    color: black;
    text-align: center;
    cursor: pointer;
}

.accountimg {
    grid-area: accountimg;
    right: 0;
    margin-right: 10px;
    position: fixed;
}

/*--------------------------------------------*/

.profilepic {
    width: 50px;
    padding: none;
    margin: none;
    box-shadow: rgba(0, 0, 0, 0.075) -1px 0 0;
    padding-left: 10px;
}

.profilepic:hover{
    box-shadow: rgba(0, 0, 0, 0.075) -1px 0 0;
}

.pfpdropdown:hover .pfpdropdown-content {
    display: block;
    min-height: 40px;
}

.pfpdropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: beige;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    font-size: 13px;
    height: 15px;
   
}

.pfpdropdown-content div {
    padding: 10px;
    color: black;
    white-space: nowrap;
}
.pfpdropdown-content div:hover {
    background-color: rgb(242, 132, 130);
}

.pfpdropdown-content a:hover{
    color: white;
}

/*--------------------------------------------*/

Link {
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s ease-in-out;
}


a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

a:hover {
    color: rgb(242, 132, 130);
    border: 2px;
    border-radius: 25px;
    padding: 15px;
}

Link:hover {
    color: rgb(242, 132, 130);
    border: 2px;
    border-radius: 25px;
    padding: 15px;
}


/*--------------------------------------------*/

strong {
    transition: all .5s ease-in-out;
}

strong:hover {
    color: rgb(242, 132, 130);
}

/*--------------------------------------------*/

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: beige;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.dropdown-content div {
    padding: 10px;
    color: black;
    white-space: nowrap;
}
.dropdown-content div:hover {
    background-color: rgb(242, 132, 130);
}

.dropdown-content a:hover{
    color: white;
}

/*--------------------------------------------*/

.buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: space-around;
    gap: 10px;
    position: fixed;
    right: 90px;
    top: 25px;
}

.asbutton button {
    width: 75px;
    height: 30px;
    font-size: 13px;
    font-family: "Manrope";
    border-radius: 7px;
    font-weight: bolder;
}

/*--------------------------------------------*/

#signup {
    background-color: rgb(242, 132, 130);
    border: none;
    color: white;
    font-weight: bolder;
    transition: all .5s ease-in-out;
}

#signin {
    border:none;
    background-color: transparent;
}

#signup:hover {
    background-color: transparent;
    border: rgb(242, 132, 130) solid 2px;
    color: rgb(242, 132, 130);
}

#signin:hover {
    color: rgb(242, 132, 130);
}

/*--------------------------------------------*/

header {
    position: relative;
    background-color: rgb(242, 132, 130);
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    grid-area: head;
    text-align: center;
    font-family:"Manrope";
    font-size: larger;
    grid-row: 20;
}